body {
  background: #fafafa;
  font-family: "Courier New", Courier, monospace;
}

.dino {
  width: 60px;
  height: 60px;
  background-image: url(./DinoImages/dino.png);
  position: absolute;
  bottom: 0;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url(./DinoImages/cactus.png);
  bottom: 0;
}

.game-over {
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.reset {
  position: absolute;
  width: 150px;
  border-radius: 5px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.reset:hover {
  background: #ffffff;
  width: 160px;
  height: 35px;
  font-size: 22px;
  cursor: pointer;
}

@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0;
  }
}

.background {
  position: absolute;
  bottom: 0;
  background-image: url(./DinoImages/background.png);
  background-repeat: repeat-x;
  animation: slideright 1900s infinite linear;
  width: 99vw;
  height: 200px;
}
