body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.quadrado {
  display: inline-block;
  width: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  border: 2px solid rgb(24, 24, 24);
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  margin-left: 0;
  border-radius: 5px;
  color: #eee;
}

.jogador,
.vencedor {
  margin: 10px 0;
  font-size: 28px;
}

button {
  margin-top: 10px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

button:hover {
  background: #ffffff;
  width: 160px;
  height: 35px;
  font-size: 22px;
  cursor: pointer;
}
