@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-top: 10px;
    width: 190px;
  }
}

@media screen and (min-width: 1000px) {
  .description {
    width: 45%;
  }
}
