body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(32, 0, 105);
}

#main-play-area {
  background-color: rgb(0, 0, 0);
  background-image: url(../img/space.png);
  height: 600px;
  width: 600px;
}

.game-instructions {
  position: relative;
  color: white;
  left: 7rem;
  top: 0;
}

.start-btn {
  position: relative;
  color: white;
  left: 15rem;
  top: 9rem;
  cursor: pointer;
}

.player-shooter {
  position: relative;
  height: 60px;
  width: 70px;
  left: 20px;
  top: 250px;
}

.laser {
  position: relative;
  width: 40px;
  height: 30px;
}

.alien {
  height: 60px;
  width: 70px;
  position: relative;
}

.alien-transition {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.dead-alien {
  height: 60px;
  width: 70px;
  position: relative;
  opacity: 0;
}
